* {
   margin: 0;
   padding: 0;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('TTLakes/TTLakes-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('TTLakes/TTLakes-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('TTLakes/TTLakes-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

nav {
   width: 320px;
   height: 100%;
   box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
}

.menu__heading {
   display: flex;
   align-items: center;
   padding-top: 20px;
   padding-left: 24px;
}

.menu__icon--close {
   margin-right: 16.73px;
}

.menu__icon--logo {
   margin-right: 78.27px;
}

.menu__list {
   padding-top: 46.27px;
   padding-bottom: 244px;
   font-family: 'TT Lakes';
   font-weight: 500;
   font-style: normal;
   font-size: 16px;
}

.menu__list li a {
   color: #1B1C21;
   transition: transform .5s;
   display: inline-block;
}

.menu__list li a:hover {
   animation: menu-hover .5s;
   transform: scale(1.05);
   animation-fill-mode: forwards;
}

@keyframes menu-hover {
   0% {filter: opacity(1);}
   100% {filter: opacity(0.7);}
}

.menu__highlighter {
   display: inline-block;
   width: 4px;
   height: 32px;
   background: #41F6D7;
   border-radius: 0 4px 4px 0;
   position: absolute;
   bottom: 5.25px;
}

.menu__item {
   margin-bottom: 32px;
   padding-left: 24px;
}

.menu__active-container {
   position: relative;
   height: 32px;
   margin-bottom: 21.5px;
}

.menu__item--active .menu__link {
   color: #7E7E82;
}

.menu__contact-icons {
   display: flex;
}

.menu__footer {
   padding-left: 24px;
   padding-bottom: 32px;
}

.menu__icon--phone, .menu__icon--chat {
   margin-right: 16px;
}

.menu__email {
   margin-top: 16px;
   display: inline-block;
}

.menu__phone {
   margin-top: 12px;

}

.menu__email, .menu__language {
   font-family: 'TT Lakes';
   font-weight: 500;
   font-style: normal;
   font-size: 16px;
   color: #1B1C21;
}

.menu__phone {
   font-family: 'TT Lakes';
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
   color: #1B1C21;
}

.menu__languages-block {
   margin-top: 40px;
}

.menu__language {
   margin-right: 7px;
}

.menu__language--current {
   color: #7E7E82;
}